
<div class="hero-unit">
</div>

<div id="main-row" class="row border">
	<div id="main-column" class="span10 border">
		<%@wanted_list.each do |target|%>
			<div class="span10 character border" character_id="<%=target.character_id%>">
				<%=image_tag("http://image.eveonline.com/Character/#{target.character_id}_64.jpg")%>
				<div class="span3 char-specs">
					<p class="target"><span>Name:</span> <%=target.name%></p>
					<p class="target"><span>Threat:</span> 10/10</p>
					<p class="target"><span>Bounty Pool:</span> <%=number_with_delimiter(target.bounty, :delimiter => ',')%></p>
				</div>
				<div class="span1 char-ships">
					<ul class="unstyled">
						<li>Losses</li>
					  <%target.wt_ships.first(3).each do |loss|%>
						<li><%=loss.ship_type.titleize%></li>
					  <%end%>
					</ul>
				</div>
				<div class="span char-payout">
				  <h4>Paid Out</h4>
				  <p><%=number_with_delimiter(target.wt_ships.collect{|t| t.payout_amt}.sum)%> <small>ISK</small></p>
				</div>
			</div>
		<%end%>
	</div>
	<div id="side-column" class="span5 border">
	  <h3>New Eden Hero's</h3>
	  <%@eden_heros.each do |hero|%>
	  <div class="span3 hero">
	    <div class="overlay"></div>
	    <%=image_tag("http://image.eveonline.com/character/#{hero.character_id}_64.jpg")%>
	    <div id="hero-details">
	      <p id="hero-name"><%=hero.name.titleize%></p>
	      <p id="hero-collected" class="hero"><%=number_with_delimiter(hero.earned_bounty_amt)%> <small>ISK</small></p>
	    </div>
	  </div>
	  <%end%>
	</div>
</div>

<div id="character_modal" class="modal hide fade">Hello</div>

<script>
$('div.character').click(function(){
 var id = $(this).attr('character_id')
 $.post("gettoons", {character_id: id});
});
</script>