<!DOCTYPE html>
<html>
	<body>
		<h1>Send <%=@record[6]%> <%= @payout%> ISK</h1>
		<br />
		<br />
		<p>Killmail: <%= @record[0]%></p>
		<p>Verified: <%= @record[8]%></p>
		<p>CharacterID: <%= @record[7]%></p>
	</body>
</html>