<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3><%=target.name%></h3>
</div>
<div class="modal-body">
  <%=image_tag("http://image.eveonline.com/Character/#{target.character_id}_256.jpg")%>
  <div class="char_sheet span3">
    <%=image_tag("wantedsmall.png")%>
    <p class="target"><span>Outstanding Bounty: </span><%=number_with_delimiter(target.bounty, :delimiter => ',')%> ISK</p>
    <p class="target"><span>Corporation: </span>Project Nemesis</p>
    <p class="target"><span>Alliance: </span>Dec Shield</p>
    <p class="target"><span>Last seen at:</span></p>
    <ul class="unstyled">
      <li>Jita</li>
      <li>Uedama</li>
      <li>Deltole</li>
    </ul>
  </div>
  
</div>
<div class="modal-footer">
<div class="span5 bounty-how-to">
  <p class="bounty-head">Place a Bounty</p>
  <p>To place a bounty on <span><%=target.name%></span> send bounty amount to <span>EveHitList Corporation</span> with the reason as
  <span><%=target.character_id%></span></p>
</div>
  <a href="#" class="btn" data-dismiss="modal">Close</a>
</div>