<!DOCTYPE html>
<html>
<head>
  <title>EveHitlist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<%if request.headers["PATH_INFO"].downcase == "/fbtestpage"%>
	<meta property="og:title" content="Eve Hit List" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content=<%=@uri%> />
	<meta property="og:image" content="http://image.eveonline.com/character/1142756740_64.jpg" />
	<meta property="og:site_name" content="Eve Hist List SUCCESS" />
	<meta property="fb:admins" content="512829915" />
<%else%>
	<meta property="og:title" content="Eve Hit List" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.evehitlist.com" />
	<meta property="og:image" content="http://image.eveonline.com/character/1142756740_64.jpg" />
	<meta property="og:site_name" content="Eve Hist List" />
	<meta property="fb:admins" content="512829915" />
<%end%>
<body>
	
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=340893449276377";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	<div class="container">	
		<div id="topbanner" class="hero-unit">
			<div id="banner-info">
				<p>Bounty Pool</p>
				<h2><%=number_with_delimiter(@total_bounty_pool)%> ISK</h2>
			</div>
			<div id="catch-phrase">
				<p style="margin-right:200px"><small>Where mercs can make money doing what they love...</small></p>
				<p><small>And players can pay to have others do their dirty work.</small></p>
			</div>
			<%=image_tag("evehitlist.png", :id => "ehllogo")%>
		</div>
		<%=render :partial => "partials/help-column" unless request.user_agent.downcase.include? "eve-igb"%>
		<%= yield %>
	</div>

</body>
</html>
