<!DOCTYPE html>
<html>
	<head>
	  <title>EveHitlist</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body id="stuff">	
		<div class="container">	
			<div id="topbanner" class="hero-unit">
				<div id="banner-info">
					<p>Bounty Pool</p>
					<h2><%=number_with_delimiter(@total_bounty_pool)%> ISK</h2>
				</div>
				<div id="catch-phrase">
					<p style="margin-right:200px"><small>Where mercs can make money doing what they love...</small></p>
					<p><small>And players can pay to have others do their dirty work.</small></p>
				</div>
				<%=image_tag("evehitlist.png", :id => "ehllogo")%>
			</div>
				<%=render :partial => "partials/help-column" unless request.user_agent.downcase.include? "eve-igb"%>
			<%= yield %>
		</div>

	</body>
	<script>
		//On resize
		$(window).resize(function(){
			if ($("html").width() < 1400){
				$("#help-column").fadeOut(500);
			} else
			{
				$("#help-column").fadeIn(1000);
			}
		});
		//On load
		if ($("html").width() < 1400){
			$("#help-column").hide();
		}
	</script>
</html>
