<!DOCTYPE html>
<html>
	<head>
		<title>EveHitlist</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-31811859-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body id="stuff">	
		<div class="container">	
			<div id="topbanner" class="hero-unit">
				<div id="banner-info">
					<p>Bounty Pool</p>
					<h2><%=number_with_delimiter(@total_bounty_pool)%> ISK</h2>
				</div>
				<div id="catch-phrase">
					<p style="margin-right:200px"><small>Where mercs can make money doing what they love...</small></p>
					<p><small>And players can pay to have others do their dirty work.</small></p>
				</div>
				<%=image_tag("evehitlist.png", :id => "ehllogo")%>
			</div>
				<%=render :partial => "partials/help-column" unless request.user_agent.downcase.include? "eve-igb"%>
			<%= yield %>
		</div>

	</body>
	<footer style="margin-bottom:40px">
		<p style="margin: 0 160px 0 160px"><small>EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide. All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines, world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the intellectual property of CCP hf. CCP hf. has granted permission to Eve Hit List to use EVE Online and all associated logos and designs for promotional and information purposes on its website but does not endorse, and is not in any way affiliated with, Eve Hit List. CCP is in no way responsible for the content on or functioning of this website, nor can it be liable for any damage arising from the use of this website. </small>
		</p>
	</footer>
	<script>
		//On resize
		$(window).resize(function(){
			if ($("html").width() < 1400){
				$("#help-column").fadeOut(500);
			} else
			{
				$("#help-column").fadeIn(1000);
			}
		});
		//On load
		if ($("html").width() < 1400){
			$("#help-column").hide();
		}
	</script>
</html>
